.menuIcon {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  width: 40px;

  span {
    height: 3px;
    width: 70%;
    margin-top: 5px;
    background-color: black;
  }
}

.btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
